/*
	Master color: #009688
*/

.btn{
	border-radius: 0px;
}

#top_nav{
	background-color: #009688;
	min-height: 50px;
}

.top_bar{
	float: left;
	line-height: 50px;
}

.top_bar.flotrgt{
	float: right;
}

.top_bar h6{
	display: inline-block;
	color: #ffffff;
	font-size: 13px;
}

.top_bar h6:last-child::before{
	border-left: 1px solid rgba(255,255,255,0.36);
  content:"";
  padding-left: 8px;
  margin-left: 8px;
  height: 9px;
  display: inline-block;
}

.social_links{
	float: left;
	margin-right: 15px;
}
.social_links a{
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  width: 35px;
  text-align: center;
}

.social_links a i{
	display: block;
}

.top_bar .social_links i{
  color: #ffffff;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.125s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.social_links a:hover i.ion-social-facebook-outline{
	background: #3b5996 !important;
}
.social_links a:hover i.ion-social-twitter-outline{
	background: #00acee !important;
}
.social_links a:hover i.ion-social-googleplus-outline{
	background: #c3391c !important;
}
.social_links a:hover i.ion-social-linkedin-outline{
	background: #0073b2 !important;
}
.social_links a:hover i.ion-social-rss-outline{
	background: #f29a1d !important;
}


#main_header{
	background-color: #444444; 
}

nav.navbar.navbar-default{
	margin: 0px;
  border: 0px;
  border-radius: 0px;
}



/*Media Query*/

@media (max-width: 767px){
  .social_links{
  	text-align: center;
  	width: 100%;
  }	
}

@media (max-width: 767px){
  .top_bar h6{
  	text-align: center;
  	width: 100%;
  }	
}

@media (min-width: 1200px) {
  .collapse{
  	padding: 0px;
  }
}

@media (min-width: 768px) {
  .logo{
  	text-align: center;
  }
}
@media (max-width: 767px){
  .logo{
  	text-align: center;
  }	
}

@media (max-width: 767px){
	.top_bar.flotrgt{
		text-align: center;
		width: 100%;
	}
}

